@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --title-font: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --text-color: rgba(128, 128, 128, 0.67);
  --background-color: #dbe4ecf0;
  --button-color2-: #005be2;
  --input-text-color: #ff0be7;
  --sucess-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: #ecf0f3;
  border-radius: 40px;
  box-shadow: 13px 13px 20px #cbced1, -13px 13px 20px #fff;
  width: 600px;
  height: 890px;
  padding: 20px 30px 25px 30px;
  margin-top: 65px;
  margin-right: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: var(--font-secondary);
  /* font-weight: 700;
    font-weight: bold; */
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  background: linear-gradient(180deg, #2806fb 8%, #ff0be7 85.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  font-weight: bold;
  border-radius: 24px;
  background: #ebf3ff;
  box-shadow: inset 8px 8px 16px #cbced1, inset -8px -8px 16px #ffffff;
}

/* .form-control input {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-family: var(--font-secondary);
  color: var(--input-text-color);
} */

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--sucess-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

/* Background  Css */

.c {
  position: relative;
}

.text-c {
  display: grid;
  place-items: center;
  position: relative;
  font-family: var(--font-secondary);
  /* font-family: var(--font); */
}

h1 {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  color: white;
  line-height: 0;
  margin-right: 20px;
}

.drop {
  position: absolute;
  height: 200px;
  width: 200px;
  background: #54abfb;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  opacity: 0.8;
  border: 2px solid #3d93ff;
}

.drop::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #318cfe;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  box-shadow: -20px 30px 16px #1b6cfb, -40px 60px 32px #1b6cfb,
    inset -6px 6px 10px #1b6cfb, inset 2px 6px 10px #1a74e5,
    inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}

.drop::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #e6fdfb;
  border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
  left: 130px;
  top: 40px;
  box-shadow: 16px 40px 0 -10px white;
  opacity: 0.8;
}

.drop1 {
  left: -100px;
  top: -50px;
}

.drop2 {
  right: -100px;
  bottom: -50px;
  z-index: -1;
  border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

.drop2::before {
  border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

p {
  line-height: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: "Montserrat";
}
