@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  font-weight: 700;
  background-color: #dbe4ecf0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 95vh;
  width: 100vw;
}

/* Backgorund Css */
.c {
  position: relative;
}

.text-c {
  display: grid;
  place-items: center;
  position: relative;
  font-family: var(--font-secondary);
  /* font-family: var(--font); */
}

h1 {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  color: white;
  line-height: 0;
  margin-right: 20px;
}

.drop {
  position: absolute;
  height: 200px;
  width: 200px;
  background: #54abfb;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  opacity: 0.8;
  border: 2px solid #3d93ff;
}

.drop::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #318cfe;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  box-shadow: -20px 30px 16px #1b6cfb, -40px 60px 32px #1b6cfb,
    inset -6px 6px 10px #1b6cfb, inset 2px 6px 10px #1a74e5,
    inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}

.drop::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #e6fdfb;
  border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
  left: 130px;
  top: 40px;
  box-shadow: 16px 40px 0 -10px white;
  opacity: 0.8;
}

.drop1 {
  left: -100px;
  top: -50px;
}

.drop2 {
  right: -100px;
  bottom: -50px;
  z-index: -1;
  border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

.drop2::before {
  border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

p {
  line-height: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: "Montserrat";
}

/* SignUpForm Css */

.login-container {
  margin-top: 85px;
  margin-right: 100px;
  overflow: hidden;
  width: 500px;
  height: 780px;
  padding: 25px 35px 35px 35px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px 13px 20px #fff;
}

.title {
  font-size: 48px;
  padding-top: 10px;
  letter-spacing: 3px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, #2806fb 0%, #ff0be7 85.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font);
}

.fields {
  width: 100%;
  padding: 50px 5px 5px 5px;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.67);
  padding: 15px 10px 20px 5px;
  font-weight: 700;
  font-family: var(--font-secondary);
}
.username,
.password,
.email,
.confirmpassword {
  margin-bottom: 25px;
  border-radius: 24px;
  background: #ebf3ff;
  box-shadow: inset 8px 8px 16px #b4c1d5, inset -8px -8px 16px #ffffff;
}

.fields i {
  height: 25px;
  width: 25px;
  margin: 0 10px -3px 25px;
}

.signin-btn {
  margin: 10px;
  cursor: pointer;
  font-family: var(--font-secondary);
  outline: none;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background: #005be2;
  box-shadow: 12px 12px 24px #03409cad, -12px -12px 24px #ffffff;
}

.signin-btn a {
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  color: #fff;
  text-decoration: none;
}

.signin-btn:hover {
  color: #fff;
  background: #045d3fe0;
  box-shadow: 12px 12px 24px #03409cad, -12px -12px 24px #ffffff;
}

.pass-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #6d6d6e;
  text-decoration: none;
  margin-left: 170px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
}

.pass-link:hover {
  color: #005be2;
}

.or {
  margin-bottom: 10px;
}

.or span {
  position: absolute;
  margin-left: 150px;
  font-weight: 700;
  font-size: 20px;
  color: #868789;
  font-family: var(--font-secondary);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 1px;
}

.social-icons a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100px;
  width: 100px;
  display: inline-block;
  align-items: center;
}

.signup-link {
  padding-bottom: 5px;
  text-align: center;
  font-family: var(--font-secondary);
}

.signup-link a {
  font-weight: bold;
  font-size: 20px;
  color: #78797b;
  text-decoration: none;
}

.signup-link a span {
  cursor: pointer;
  color: #005be2;
}
