{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block links %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %} {% block content %}

<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2>Login</h2>
		<!-- Login Form -->
		<form action="" method="post">
			<input
				type="text"
				id="login"
				name="email"
				placeholder="email"
			/>
			<input
				type="password"
				id="password"
				name="password"
				placeholder="Password"
			/>
			<input type="submit" value="Log In" />
		</form>
		<div class="acc-link">
			<a href="{{ url_for('register')}}"
				>Don't Have an Account? SignUp Here.</a
			>
		</div>

		<!-- Remind Password -->
		<div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		</div>
	</div>
</div>
{% endblock %}
